Repository Sharko64/Mr-Smithers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @default-owner, @markdown-owner, @docs-owner, @src-owner, @test-owner, @config-owner, @issue-template-owner, @owner1, @owner2, @components-owner, @button-owner, @org/frontend-team, @org/backend-team, @js-owner

.github/CODEOWNERS:

# .github/CODEOWNERS

# This is a basic example of a CODEOWNERS file.
# Lines starting with '#' are comments.

# Specify the default code owners for the entire repository.
*       @default-owner

# Define code owners for specific files or directories.
# These owners will be automatically requested for review when changes are made to these files or directories.

# Code owners for all Markdown files
*.md    @markdown-owner

# Code owners for specific directories
/docs/  @docs-owner
/src/   @src-owner
/tests/ @test-owner

# Code owners for specific files
/config.yml @config-owner
/.github/ISSUE_TEMPLATE/* @issue-template-owner

# You can specify multiple owners for the same files or directories
# Use spaces to separate multiple owners
/important-directory/ @owner1 @owner2

# Code owners for a subdirectory within a directory
/src/components/ @components-owner

# Code owners for a specific file in a subdirectory
/src/components/Button.js @button-owner

# Team assignments (assuming the teams exist in your GitHub organization)
/frontend/* @org/frontend-team
/backend/*  @org/backend-team

# Wildcards can be used to specify patterns
# For example, all JavaScript files in the repo
*.js @js-owner

# If you want to assign code owners based on the branch
# You can use this format
# branch-name pattern @owner

Update README.md
  README.md
Owners: @markdown-owner

Update README.md
  README.md
Owners: @markdown-owner

Update README.md
  README.md
Owners: @markdown-owner

Update init.sh
  init.sh
Owners: @default-owner

Update README.md
  README.md
Owners: @markdown-owner

Add scripts
  scripts/main.txt
Owners: @default-owner

Update init.sh
  init.sh
Owners: @default-owner

Update README.md
  README.md
Owners: @markdown-owner

Update README.md
  README.md
Owners: @markdown-owner

Update README.md
  README.md
Owners: @markdown-owner

Update README.md
  README.md
Owners: @markdown-owner

Update README.md
  README.md
Owners: @markdown-owner

Update USAGE.md
  USAGE.md
Owners: @markdown-owner

Update smithers
  bin/smithers
Owners: @default-owner

Update install.sh
  install.sh
Owners: @default-owner

Update test_suite.sh
  tests/test_suite.sh
Owners: @test-owner

Update print.sh
  src/utils/print.sh
Owners: @src-owner

Update main.txt
  data/main.txt
Owners: @default-owner

Update extensions.json
  .vscode/extensions.json
Owners: @default-owner

Update FAQ.md
  docs/FAQ.md
Owners: @docs-owner

Update README.md
  README.md
Owners: @markdown-owner

Update USAGE.md
  USAGE.md
Owners: @markdown-owner

Update README.md
  README.md
Owners: @markdown-owner

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Owners: @markdown-owner

Update README.md
  README.md
Owners: @markdown-owner

Update USAGE.md
  docs/USAGE.md
Owners: @docs-owner
